<!DOCTYPE HTML>
<html>
	<head>
		<title>python Dapp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/style.css"/>
	</head>
	<body class="is-preload">
<div class="main" style="text-align: center;">
<h1>{{greeting }}</h1>
<form method="post" action="{{url_for('ind')}}" >
    <h1>greet me</h1>
    <input type="text" style="width: 50%;" name="write" placeholder="Write Your Greeting Here.."></br>
    <h2>claim amount</h2>
    <input type="number" name="claim" required placeholder="Enter your claim amount here..."/>
    <input class="button" type="submit" value="Greet">
    <br>
    </form>
</div>
</body>
</html>